.titleBlock {
  
}
.liquidoRegular {
  font-family: system-ui, -apple-system, sans-serif;
}
.titleRegular {
  font-size: 5rem;
  font-weight: 400;
  margin: 0;
}
.liquidoFluid {
  font-family: system-ui, -apple-system, sans-serif;
}
.titleFluid {
  font-size: 12rem;
  font-weight: 400;
  margin: 0;
  line-height: 0.8;
}
