/* styles/TransitionScreen.css */

.transition-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.color-layer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    border-radius: 50%;
    width: 0;
    height: 0;
    animation: expandCircle 1.5s ease-in-out forwards;
}

@keyframes expandCircle {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 3000px;
        height: 3000px;
    }
}
