.scroller {
  width: 100vw;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  gap: 32px;
  padding: 0px 32px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE e Edge */
}
.scroller::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
  background: transparent !important;
}
.circle {
  width: 300px;
  height: 300px;
  background: url('/imgs/disc.png') center center/cover no-repeat;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26.542px;
  font-family: 'Liquido Regular', sans-serif;
  border-radius: 300px;
  box-shadow: 0px 4px 24px rgba(0,0,0,0.12);
  user-select: none;
  flex: 0 0 auto;
  text-align: center;
  white-space: normal;
  word-break: break-word;
  padding: 24px;
  letter-spacing: 2px;
  position: relative;
}
.circle::before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  opacity: 0.8;
  border-radius: 300px;
  z-index: 0;
}
.circle span {
  position: relative;
  z-index: 1;
  -webkit-text-stroke: 1px #000;
  text-stroke: 1px #000;
}
